@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #FC0;
    text-shadow: none;
}

::selection {
    background: #FC0;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper > div {
    min-height: 400px;
    position: relative;
    top: 0;
    min-width: 960px;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 100px 0;
}

.title-wrapper {
    padding: 50px 0 175px;
    background: #BB292D;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.details-wrapper {
    background: #EBEBEB;
}

.venue-wrapper {
    background: #0AC5F4;
}

.rsvp-wrapper {
    background: #CACCC9;
}

.about-author-wrapper {
    background: #161726;
}

/* ==========================================================================
   TITLE
   ========================================================================== */

h2#welcome {
     font-size: 3.5em;
     font-weight: 300;
     margin: 0px;
}

h1#title {
     color: #FFF6E0;
     font-size: 4.5em;
     margin: 0px;
}

.title-wrapper hr {
    border: 1px solid #333;
    background: #333;
    margin-bottom: 100px;
}

/* ==========================================================================
   Countdown timer
   ========================================================================== */
   
.countdown-wrapper {
    position: relative;
}

.countdown-wrapper p {
    margin: 0;
    padding: 0;
}

.countdown-wrapper div {
/*    background: white;*/
    width: 125px;
    display: inline-block;
    margin-right: 20px;
    overflow: hidden;
}

#calendar-view {
    margin-right: 100px;
    border: 1px solid #222;    
}

#calendar-view .thin {
    font-weight: 300;
}

#calendar-view p:first-child {

    background: #222;
    color: #FFF6E0;
}

.countdown-wrapper div p:first-child {
    background: #BB292D;
    border-bottom: 1px solid #222;
    position: relative;
    font-weight: 800;
    padding: 10px 0;
    font-size: 1.5em;
    z-index: 10;
}

.countdown-wrapper div p:nth-child(2) {
    position: relative;
    -webkit-transition: all 1s ease;
    font-size: 3.5em;
    z-index: 5;
}

.scroll-animation {
    -webkit-animation: scroll 1s infinite;
}

@-webkit-keyframes scroll {
    50.0% {
        -webkit-transform: translateY(100px);
    }
    50.1% {
        visibility: hidden;
        -webkit-transform: translateY(-100px);
    }
}


/* ==========================================================================
   DETAILS-SECTION
   ========================================================================== */

.details-wrapper {
    font-family: 'Vollkorn', serif;
}

.details-wrapper h2, .details-wrapper h3{
    font-weight: 700;
}

.details-wrapper h2 {
    font-size: 3.1em;
    text-transform: uppercase
}

.details-wrapper #stuffs li {

}

/* ==========================================================================
   VENUE SECTION
   ========================================================================== */

.venue-wrapper {
    font-family: 'Vollkorn', serif;
    padding: 150px 0;
}

.venue-details {
    float: left;
    width: 53%;
    border-right: 1px solid rgb(70, 70, 70);
    text-align: right;
    margin-top: -20px;
    padding-right: 15px;
}

.venue-details th {
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    padding: 2px 0 10px;
}

.venue-details td {
    border-bottom: 1px solid white;
    padding-bottom: 13px;
}

.venue-details tr:last-child td {
    border: none;
}

.venue-map {
    float: right;
}

.venue-map small {
    display: none;
}


/* ==========================================================================
   RSVP SECTION
   ========================================================================== */

.rsvp-button-wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;

}

#no, #yes {
    display: inline-block;
    position: relative;
    margin: auto;
    font-size: 1.2em;
    color: white;
    margin-right: 10px;
    text-shadow: 0 0 2px white;
}

#no, #yes {
    border: none;  
    padding:  15px 60px;
}

#no {
    background: #CA2828;
    box-shadow: 0px 3px 1px #800707, 0px 2px 6px #222, 0px 0px 50px rgba(0, 0, 0, 0.19) inset;
}

#no:active {
    top: 2px;
    box-shadow: 0px 1px 1px #800707, 0px 1px 2px #222, 0px 0px 50px rgba(0, 0, 0, 0.19) inset;
}

#yes {
    background: #55911E;
    box-shadow: 0px 3px 1px #3A4D2B, 0px 2px 6px #222, 0px 0px 50px rgba(0, 0, 0, 0.19) inset;
}

#yes:active {
    top: 2px;
    box-shadow: 0px 1px 1px #3A4D2B, 0px 1px 2px #222, 0px 0px 50px rgba(0, 0, 0, 0.19) inset;
}

#RSVP {
    padding: 10px 0;
    font-family: 'Vollkorn', serif;
    font-size: 2em;
    margin-top: 0;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

.rsvp-message {
    border-top: 1px solid #4D4D4D;
    border-bottom: 1px solid #4D4D4D;
    padding: 10px 20px;
    width: 75%;
    margin: 0px auto;
    text-align: center;
    font-family: 'Vollkorn', serif;
    display: none;
}

#rsvp-no, #rsvp-yes span.loud {
    font-size: 3.5em;
}


#rsvp-no {
    display: none;
}

#rsvp-yes span.shout {
    font-size: 1.5em;
}

#rsvp-yes {
    padding-bottom: 50px;

    display: none;
}

#rsvp-yes form {
    text-align: left;
    line-height: 2em;
}

#rsvp-yes form h3 {
    margin: 10px 0 0;
    padding: 0;
    line-height: 0em;
    font-style: italic;
}

#rsvp-yes form input[type="text"] {
    background: transparent;
    font-style: italic;    
    border: none;
    border-bottom: 1px dashed #444;
    padding: 0 10px;
    text-align: center;
    font-family: 'Vollkorn', serif;
}

#rsvp-yes form input[type="submit"] {
    border: 1px solid #494949;
    padding: 1px 10px;
    background: transparent;
    margin-top: 15px;
}

#rsvp-yes form textarea {
    background: transparent;
    font-family: 'Vollkorn', serif;
    padding: 10px;
    font-style: italic;
}

.rsvp-wrapper .attendees {
    font-family: 'Vollkorn', serif;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: .75em;
}

.rsvp-wrapper .attendees table {
    margin: 40px auto 0;
    text-align: center;
}

.rsvp-wrapper .attendees table td {
    border-top: 1px solid #555;
    padding: 5px;
}

.rsvp-wrapper .attendees table tr:first-child td {
    background: #333;
    color: #eee;
}

.rsvp-wrapper .attendee-names::after {
    content: "|";
    margin-right: 10px;
    margin-left: 10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
