<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
    <connectionStrings>
        <add connectionString="server=localhost;uid=divlorg_csUle0r;pwd=&quot;PY;$[Pj]bRh^&quot;;Database=divlorg_cs" name="divlorg_cs" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>