<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
    <connectionStrings>
        <add connectionString="server=localhost;uid=creativesaU0l70;pwd=&quot;{J!*Uzx(Y;xT&quot;;Database=creativesands" name="creativesands" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>